@font-face {
    font-family: Relative;
    src: url('Relative-10Pitch.otf');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

div.content {
    position: absolute;

}

.toggle-nav {
    display: none;

}


.on {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: grey;
    font-family: Relative, Helvetica;
    color: black;
    font-size: 8px;
    margin-right: 0;
    right: 0px;
    display: block;
}



h1 {
    margin: 24px;
    line-height: 20px;

}



input {
    font-family: Relative;  
    background-color: white;  
}

input:focus {
    outline-width: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#d3d3d3;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d3d3d3;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #d3d3d3;
}  

div.aqi {
    display: inline-block;
}



/* div.good {
    display: inline-block;
} */

.circle-green-good {
    background-color: greenyellow;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -1.4px;
    margin-left: 5px;
}

.circle-yellow-moderate {
    background-color: yellow;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -1.4px;
    margin-left: 5px;
}

.circle-orange-unhealthy {
    background-color: orange;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -1.4px;   
    margin-left: 5px; 
}

.circle-red-v-unhealthy {
    background-color: red;    
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -1.4px;    
    margin-left: 5px;
}

.circle-purple-v-v-unhealthy {
    background-color: purple;  
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;  
    margin-bottom: -1.4px;
    margin-left: 5px;
}

.circle-purple-hazardous {
    background-color: brown; 
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;  
    margin-bottom: -1.4px; 
    margin-left: 5px;
}





@media screen and (min-width: 768px) {
form {
    width: 33%;
}

#results {
    /* width: 100%; */
    display: flex;
    flex-flow: column wrap;  
    /* padding-left: 50px; */
    overflow: hidden;
    /* justify-content: space-between; */
   
   
}

li {
    /* flex: 1; */
    width: 50%;
    /* margin-left: 10px; */
}

}

/* @media screen and (max-width: 481px) {
#results {
    display: block;
}

div.about {

} */

@media screen and (min-width: 320px) and (max-width: 480px) {
    /* #results {
        display: block;
    }   */

    a {
        background-color: white;
        border: 1px solid black;
        padding: 
        /* padding: 20px; */
    }


}



@media screen and (min-width: 320px) {

    div.content {
        width: 100%;
    }

    form {
        margin: 10px 30px 10px 10px;
    }
        

    input {
        height: 25px;
        border: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        padding-left: 10px;
    }
        
    #results {
        height: 80vh;
        font-family: Relative;        
        margin: 10px;
        padding: 10px;
        color: black;
    }

    li {
        list-style: none;
        margin-bottom: 12px;
    }

    div.about {
        position: fixed;
        font-family: Relative, Helvetica;
        color: black;
        font-size: 16px;
        bottom: 0;
         margin-left: 10px; 
         margin-bottom: 20px; 
        text-decoration: none;
        color: black;
    }
    
    a { 
       text-decoration: none;
       color: black;
       padding: 10px;
  
    }



    }
    
}
